@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .my-rotate-y-180 {
    transform: rotateY(180deg),
  }
  .preserve-3d {
    transform-style: preserve-3d,
  }
  .perspective {
    perspective: 1000px,
  }
  .backface-hidden{
    backface-visibility: hidden,
  }
  
}

/* @layer base {
  @font-face {
      font-family: "kyiv";
      src: url("../public/font/kyiv-type-sans/KyivTypeSans-Black-.otf") format("opentype");
  }
} */

/* .flip-card {
  background-color: transparent;
  width: 20px;
  height:200px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0  rgba(36, 0, 16, 0.20);;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  color: #240010;
}

.flip-card-back {
  background: #C7D1C8;
  color: #240010;
  transform: rotateY(180deg);
} */

/* .my-rotate-y-180 {
  transform: rotateY(180deg),
}
.preserve-3d {
  transform-style: preserve-3d,
}
.perspective {
  perspective: 1000px,
}
.backface-hidden{
  backface-visibility: hidden,
} */
.flip-card {
  width: 300px;
  height: 230px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.5rem;
}

/* .flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
} */

.flip-card-back {
  transform: rotateY(180deg);
}


.square {
  width: 150px;
  max-height: 100px;
  text-align: center;

  transition-property: width;
  transition-duration: 1s;
}
.square.ttf-cubic {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.square:is(:hover, :focus) {
  width: 70%;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  @keyframes rotate {
    0% {
             transform: rotate(0deg);
         }
         100% {
             transform: rotate(360deg);
         }
     }
     .out-top {
         animation: rotate 20s linear infinite;
         transform-origin: 13px 25px;
     }
     .in-top {
         animation: rotate 10s linear infinite;
         transform-origin: 13px 25px;
     }
     .out-bottom {
         animation: rotate 25s linear infinite;
         transform-origin: 84px 93px;
     }
     .in-bottom {
         animation: rotate 15s linear infinite;
         transform-origin: 84px 93px;
     }

     
     .svg-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
  }
  
  
  .links {
      position: fixed;
      bottom: 20px;
      right: 20px;
      font-size: 18px;
      font-family: sans-serif;
  }

  .full {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      scroll-behavior: unset;
  } 

  
  /* -------------------------------------- */

  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0px) ;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0px) ;
    }
    100% {
      transform: translateX(-1200px);
    }
  }
  
  .slide-in {
    animation: slideIn 0.3s forwards;
  }
  
  .slide-out {
    animation: slideOut 0.3s forwards;
  }

  .slide-up {
    animation: slideUp 0.3s forwards;
  }

